@import './preflight.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

hr {
  @apply my-4;
}

th,
td {
  @apply truncate;
}

.table-container {
  @apply overflow-auto smooth-scrollbar;
}

.container {
  @apply mx-auto px-4;

  @media (min-width: 896px) {
    max-width: 896px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1200px;
  }
  @media (min-width: 1500px) {
    max-width: 1280px;
  }
}

.overlay {
  @apply absolute inset-0 w-full h-full bg-[#000000];
  opacity: 0.5;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
